version: '3.8'

services:
  mariadb:
    image: mariadb:11
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app_db
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_pass
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql  # Coloque sua inicialização de banco aqui
    networks:
      - app-network
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        order: start-first
      rollback_config:
        parallelism: 1
        delay: 5s
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == worker

  apachephp:
    image: webdevops/php-apache:8.2
    volumes:
      - ./app:/app  # Mapeamento dos arquivos da aplicação
    environment:
      WEB_DOCUMENT_ROOT: /app  # Diretório da aplicação dentro do container
    ports:
      - "8080:80"
      - "443:443"
    networks:
      - app-network
    depends_on:
      - mariadb
    deploy:
      replicas: 5  # Definindo 5 réplicas para o Apache PHP
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        order: start-first
      rollback_config:
        parallelism: 1
        delay: 5s
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == worker

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    environment:
      PMA_HOST: mariadb
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8081:80"
    networks:
      - app-network
    depends_on:
      - mariadb
    deploy:
      replicas: 1  # 1 réplica do phpMyAdmin
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        order: start-first
      rollback_config:
        parallelism: 1
        delay: 5s
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == worker

volumes:
  db_data:
    driver: local  # Volume persistente para o banco de dados

networks:
  app-network:
    driver: overlay  # Garantindo que a rede seja 'overlay' para o Swarm
